@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
// Font-family
$primary-font: "leksa-sans",
sans-serif;
$secondary-font: "leksa",
serif;
$primary-fontfamily: 'Acme',
sans-serif;
$secondary-fontfamily: 'Montserrat',
sans-serif;
// Colors
$white:#ffffff;
$black: #000000;
$navy: #2C354E;
$gold-dark: #988146;
$gold-border: #B69F62;
$gold: #F6B119;
$gold-light: #C6B075;
$gray-light: rgba(61,
69,
93,
0.3);
$gray-dark: #4B4C4D;
$grey-primary: #F2F2F2;
$grey-secondary: #C8C8C8;
$grey-dark: #C4C4C4;
$gray-text: #AEAEAE;
$blue: #3D455D;
$beige: #F1EDE3;
$beige-secondary: #FAF8F4;
$beige-third: #FAF8F3;
$gray-border: #AEAEAE;
$teal: #21A6BB;
$border-clr:#CCCCCC;
$border-gray:#E2E2E2;
$border-gray2:#E5E5E5;
$color-darkgold:#785600;
// Font-weight
$fw-light:300;
$fw-regular:400;
$fw-medium:500;
$fw-semibold:600;
$fw-bold:700;
// Alignment
$align-center:center;
$align-left:left;